<?xml version="1.0"?>
<!-- Basic differential drive mobile base -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="diffdrive_robot">
  <xacro:arg name="prefix" default="" />

  <xacro:include filename="$(find kssbot_description)/urdf/kssbot_description.urdf.xacro" />

  <!-- Import Rviz colors -->
  <xacro:include filename="$(find kssbot_description)/gazebo/kssbot.materials.xacro" />

  <!-- Import kssbot ros2_control description -->
  <xacro:include filename="$(find kssbot_description)/ros2_control/kssbot.ros2_control.xacro" />

  <xacro:kssbot prefix="$(arg prefix)" />

  <xacro:kssbot_ros2_control name="kssBot" prefix="$(arg prefix)" />

</robot>
